*{
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
    font-family:'Poppins', sans-serif;
  }
  
  .body{
      overflow-x: hiddengit;

  }
  
/* Headertop */

.header__port{
    position: fixed;
    align-items:center;
    width: 100%;
    z-index: 2;
}

.header__top{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center;
    padding:0.6%;
    background-color:#0a0a0a;
    color:white;
    font-size: 14px;
    font-weight: 400;
   
}
.header__top img{
    margin-left: 1.5rem;
}

/* Navbar */

header ul{
    display: flex;
    justify-content: flex-end;
    align-items: left;
    color: #fff;
    width: 100%;
    list-style: none;
    text-decoration: none;
    margin: 1%;
    
}
header li a:link, a:visited{
    color: #fff;
    list-style: none;
    text-decoration: none;
}

header ul li a:hover, a:active{
	color: #8188e9;
    text-decoration:underline;
}


/* Titulos */

    
.h2{
    color: #f1f1f1;
    font-size: 40px ;
    font-weight: 500;
}
.h3{
    color:#888A97;
    font-size: 40px ;
    font-weight: 500;
}
.h5{
    color: #888A97;
    font-size: 20px ;
    font-weight: 400;
}
.title{
    color: #888A97;
    font-size: 32px ;
    font-weight: 500;
}
.title2{
    color: #888A97;
    font-size: 48px ;
    font-weight: 500;
}

.plight{
    color: white;
}
/* Hero index */
.head{
    text-align: center;
    padding-top:4%;
    padding-bottom: 5%;
    padding-right:8%;
}
.headimage{
width:100%;
padding-left: 5%;

}
.hero{
    background-color:#1f2023; 
} 
.hero__title{
    display: flex;
    flex-direction: column;
    color:#fff;
    font-weight: 500;
    font-size: 60px;
    justify-content: center;
    padding-left:5%;
}
.hero__description{
    display: flex;
    color:#fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    padding-top:5%;
    padding-bottom:5%;  
}
.hero__buttons{
   display: flexbox;
   flex-direction: row;
}
.hero__image{
    display: flex;
    flex-direction: column;
    padding-top:12%;
    padding-bottom:10% ;
    width: 50%;
    height:50%;     
}
.hero__image div img {
    object-fit: contain; 
}
/* Buttons */
.button__primary {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    width: 240px;
    height: 60px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    margin-bottom: 20px;
   }
   .button__primary>a{
    text-decoration: none;
   }
   
   .button__primary:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .button__primary:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }
   
.button__secondary {
    background: #222627;
    background-size: 800% 400%;
    width: 240px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
    font-size: 16.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   .button__secondary>a{
    text-decoration: none;
    color:#fff;
   }
   .button__secondary:hover {
    transform: scale(1.05);
   }
   .button__secondary:active {
    transform: scale(0.8);
   }
   .button__secondary:visited {
     color: white;
   }
   
.button__terciary {
    background: #fff;
    background-size: 800% 400%;
    width: 240px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
    
    font-size: 16.5px;
    font-weight: 500;
    color:#222627;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   .button__terciary>a{
    text-decoration: none;
    color:#222627;
   }
   
   .button__terciary:hover {
    transform: scale(1.05);
   }
   
   .button__terciary:active {
    transform: scale(0.8);
   }

/* Experiencia index*/
.experiencia{
    position: relative;
    background: #f1f1f1;
}
.experiencia__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222627;
    font-size: 28px;
    align-items: center;
}
.experiencia__card{
    padding: 5%;
}
.experiencia__icons{
    display:flex;
    flex-direction: row;
    background: linear-gradient(312deg, rgba(129,136,233,1) 36%, rgba(131,115,252,1) 100%);
    padding: 4% 8% 4% 6% ;
    border-radius: 8px;
    width: 90%;
    align-items: center;
}

/* Producto index*/
.producto{
	 display: flex;
    background: #1f2023d;
}
.producto__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 5%;
}
.producto__button{
   position: relative;
   margin-top: 50px;
}
.producto__card{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    background-color:#222627;
}
.producto__card img{
  object-fit: cover;
  width: 100%;
}

/* Grafico index*/
.grafico{
    background:#1f2023;
}
.grafico__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: #ffffff;
    font-size: 28px;
    line-height: 60px; 
}
.grafico__button{
   position: relative;
   margin-top: 50px;
}
.grafico__card{
    background-color:#222627;
}
.grafico__card img{
  object-fit: cover;
  width: 100%;
}
/* Ecommerce index */
.ecommerce{
    background: linear-gradient(184deg, rgba(255,255,255,1) 9%, rgba(234,231,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ecommerce__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:5%;
    padding-bottom: 15%; 
}
.ecommerce__button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  padding-top: 350px;
}
.ecommerce__card{
    background-color:#222627;
    height:500px;
}
.ecommerce__video{
    position: absolute;
    width: 60%;
    height: 60%;
    z-index:1;
}

/* Footer */

.footer{ 
    padding: 5%;
    height:100%;
    background: #1f2023;
}
.footer__column1 {
    color:#fff;
    padding-left: 50px;
}
.footer__column2 {
    padding-left:5%;
    padding-right:10%;
    color:#fff;
 }

.footer__column3{
    list-style:none;
}

.footer__column3 li a{
    color:#fff;
    text-decoration: none;  
}
.footer__column3 li a:focus{
    color:#8188e9 ;
}

/* Form */
.form{
    background-color:#19191a;
    padding: 8%;
    border-radius: 10px;
}
.input{
    background-color:#ebebeb;
    width:100%;
    height: 40px;
    border-radius: 4px;
    border: #19191a;
    margin-top: 8px;
    margin-bottom:14px ;
    font-size: 14px;
    font-weight: 300; 
    padding: 10px;
}
.input:hover{
    background-color:#fff ;
    color:#8188e9 ;
}
.formtext{
    font-size: 14px;
    margin-top: 20px;
}
#usersex{
    display: inline;
    font-size: 16px;
    margin-right: 12px;
    margin-bottom: 10px;
}
.elige{
    display: inline;
    margin-right: 12px;
}
#servicio{
    width:100%;
    margin-top: 14px;
    border-radius: 4px;
    height: 40px;
    color:#787878;
    font-weight: 200;
    padding-right: 20px;
}
.button__form{
    background-color:#8188e9 ;
    border-color: #8188e9;
    width:100%;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    margin-top: 20px;
    color:#fff ;
    font-size: 14px;
    font-weight: 300; 
}

/* Experiencia page */

.experiencia__page-card{
    background:#222627;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color:#212529 ;
    padding-left:5%;
    padding-right:5%;
    padding-top: 0%;
    padding-bottom:5%;
    color: #767a7e;
}
.experiencia__title-page{
    background:#1f2023;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-top: 12%;
    color: #767a7e;
}

.experiencia__bloque1{
    position: relative;
    font-size: 14px;
    margin-bottom: 5%;
    padding-left:8%;
    padding-top:10%;
    padding-bottom:10%;
    border-radius: 8px;
    background-color: #e9e9e9;
    
}
.experiencia__page-subtitle { 
    color:coral;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10%;

}
.hr{
    color: rgb(102, 102, 102);
    width: 80%;
}
#experiencia__button{
    position: relative;  
    padding-top: 3%;
}

    
/* Producto page*/

.producto__page{
    display: flex;
    background-color: #1f2023;
    padding-top: 12%;
    padding-bottom: 2%;
    padding-left:5%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
 
}
.producto__page-title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; 
    padding-left: 5%;
    
}

.producto__page-description{
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   padding-top: 0px;
   width: 80%;
}
.producto__page-button{
    position: relative;
    margin-top: 50px;
}
.grafico__page-title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; 
    padding-left: 5%;
}

/* Pagina diseño grafico */

#grilla__design{
    display: grid;
    position:relative;
    background: #1f2023;
    grid-template-rows:400px,100%, 100%, 100%;
    grid-template-columns:repeat(4, 1fr); 
    grid-template-areas: "header header header header"
                         "proyecto1 proyecto2 proyecto3 proyecto4"
                         "proyecto5 proyecto6 proyecto7 proyecto8"
                         "proyecto9 proyecto10 proyecto11 proyecto12";
}
#grilla__design > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

div#header__design {
    position: flex;
    grid-area: header;
    margin: 3%;
    padding-top: 8%;
 }

 .nav-link{
    color: #1f2023;
    
    }

.nav-link:hover{
    
       
       color:coral;
     
        }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:coral;
    color: #fff;
             
             }

.nav-pills{
    justify-content: center;
    padding-top: 4%;
}       

/* MEDIA QUERIES */

/* MQ Titulos */
@media screen and (max-width: 768px) {
.h2{
    color: #f1f1f1;
    font-size: 36px ;
    font-weight: 500;
}
.h3{
    
    font-size: 36px ;
    font-weight: 500;
}
}
/* MEDIA QUERIES HEADER */

/* MQ Hero index */

@media screen and (max-width: 1440px) {
.header__port{
    position: relative;
    align-items:center;
       
}
.header__top{
    height: 6%;
}
  
.hero__title{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10%;
    padding-left:0%;
    padding-bottom: 0px;
    font-size: 40px;
    line-height:56px; 
    width: 100%;
    
}
.hero__image{
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
    width: 90%;
}
.head{
    text-align: center;
    padding-top:3%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left:5% ;
}
}

@media screen and (max-width: 425px) {
.header__top{
      
        justify-content: center;
    }
      
.hero__title{
    font-size: 32px;
    line-height: 46px;
    height: 100%;

}
.hero__description{
    text-align: center;
    padding: 16px;
    font-size: 20px;
}
.hero__buttons{
    display: flex;
    flex-direction:column;
    padding: 20px;
}
.hero__image{
    
    width: 100%;
    height:100%;
}
}
/* MQ Experiencia index */
@media screen and (min-device-width:769px) and (max-device-width: 1440px) {
.experiencia__card{
        padding-top: 10%;
        padding-bottom: 10%;  
        
}  
.experiencia__icons{
        display:flex;
        flex-direction: row;
        background-color:#8188e9;
        padding: 4% 8% 4% 6% ;
        border-radius: 8px;
        align-items: center;
}

.experiencia__icons img{
    width: 100%;
}
}
   
@media screen and (max-width: 768px){
.experiencia__card{
        padding-bottom: 22%;   
        
} 
.experiencia__title{
        padding-top:8%;   
}
     
.experiencia__icons{
        display:flex;
        flex-direction:row;
        justify-content: center;
        background-color:#8188e9;
        padding:4% 12% 4% 12% ;
        border-radius: 8px;
        width:100%;
    
}
.experiencia__page-button{
    position: absolute;
   margin-top:90%;
}

}
@media screen and (max-width: 425px) {
.experiencia__card{

    padding-top: 10%;
    padding-bottom: 35%;
align-items: center;
}
.experiencia__icons{
    display:flex;
    flex-direction:column;
    background-color:#8188e9;
    padding: 4% 36% 4% 36% ;
    border-radius: 8px;
    width: 100%;
    align-items: center;
}
.experiencia__page-button{
    position: absolute;
   margin-top:280%;
}

}

/* MQ Producto index */
@media screen and (max-width: 425px) {
.producto{
 display: flex;
    flex-direction:column;
   padding-top: 20%;
   justify-content: center;

}
.producto__title{
    padding-bottom: 20%; 
    align-items: center;
    text-align: center;    
}
.producto__page-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 70%;
    padding-top: 0px;
 }
}

/* MQ Gráfico index */

@media screen and (max-width: 425px) {
.grafico{

    justify-content: center;
}

}

/* MQ Ecommerce index */
@media screen and (min-device-width:769px) and (max-device-width: 1440px) {
    .ecommerce{
        height:800px;
    }   
    .ecommerce__video{
        position: absolute;
        padding-left:0%;
        width: 75%;
        height: 50%;
        padding-top:0px;
        z-index:1;
    }   
    .ecommerce__card{
        margin-top: 6%;
        height:476px; margin-bottom: 0px;
    }     
}
@media screen and (max-width: 768px) {
.ecommerce{
    height:650px;
}   
.ecommerce__title{
    padding-top:5%;
    padding-bottom: 0%;
} 
.ecommerce__card{
    margin-top: 25%;
    height:368px; margin-bottom: 0px;
} 
.ecommerce__video{
    position: absolute;
    padding-left:0%;
    width: 75%;
    height: 50%;
    z-index:1;
}  
.ecommerce__button{
  padding-top:250px;
}
@media screen and (max-width: 425px) {
    .ecommerce{
        height: 470px;
    }   
    .ecommerce__title{
        padding-top:5%;
        padding-bottom: 0%;
    } 
    .ecommerce__card{
        margin-top: 35%;
        height:248px; margin-bottom: 0px;
    } 
    .ecommerce__video{
        position: absolute;
        padding-left:0%;
        width: 75%;
        height:28%;
        z-index:1;
        padding-top:0%;
    }  
    .ecommerce__button{
      padding-top:140px;
    }
}

/* MQ Página Experiencia */

@media screen and (max-width: 768px) {
    
} 
#experiencia__button{
    position: relative;  
    padding-top:8%;
    padding-bottom:7%;
}
}

@media screen and (max-width: 425px) {

#experiencia__button{
    position: relative;  
    padding-top:12%;
    padding-bottom:12%;

}
}
/* MQ Product page  */
@media screen and (max-device-width: 1440px) {
.producto__page {
    padding-top:8%;
    padding-bottom:6%;
}
}
@media screen and (max-device-width:768px) {
.producto__page-title{
    padding-top: 12%;
    padding-bottom:12% ;
    padding-left: 5%;
    
}  
}
@media screen and (max-device-width:425px) {
    .producto__page-title{
        padding-top: 1%;
        padding-bottom:18% ;
       justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0%;
}

}
/* MQ Design Page */

@media screen and (max-width: 425px) {
#grilla__design{

    grid-template-rows: repeat (auto-fill, 1fr);
    grid-template-columns:100%; 
    grid-template-areas: "header" 
    "proyecto1" "proyecto2" "proyecto3" "proyecto4"
    "proyecto5" "proyecto6" "proyecto7" "proyecto8"
    "proyecto9" "proyecto10" "proyecto11" "proyecto12";
}
} 

@media screen and (max-width: 768px) and (min-width: 426px) {
#grilla__design{
        grid-template-rows: repeat (auto-fill, 1fr);
        grid-template-columns:repeat(2, 1fr); 
        grid-template-areas: "header header" 
        "proyecto1 proyecto2" "proyecto3 proyecto4"
        "proyecto5 proyecto6" "proyecto7 proyecto8"
        "proyecto9 proyecto10" "proyecto11 proyecto12";
} 
} 
/* MQ Footer */
@media screen and (min-device-width:769px) and (max-device-width: 1440px) {
    #footer__column1{
        width: 40;
        flex-wrap: wrap;
    } 
    #footer__column2{
       padding-top: 20%;
    } 
    #footer__column3{
        padding-top: 40%;
     } 
}
@media screen and (max-width: 768px) {
#ecommerce{
    height: 550px;
} 
} 
@media screen and (max-width: 768px) {
.footer__column1{
        list-style:none;
        padding-top: 10%;
        padding-bottom: 10%;
      
    }

.footer__column3{
    list-style:none;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

}
