* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 425px) and (min-width: 0px) {
  .hidden__movil {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .hidden__desktop {
    display: none;
  }
}

.head {
  text-align: center;
  padding: 4% 8% 5% 0%;
}

.headimage {
  width: 100%;
  padding-left: 5%;
}

@media (max-width: 1200px) {
  .head {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 5%;
  }
}

.header, .header__port, .header__top, header ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__port {
  position: fixed;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1200px) {
  .header__port {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.6%;
  background-color: #0a0a0a;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .header__top {
    height: 6%;
  }
}

@media (max-width: 425px) {
  .header__top {
    padding-right: 24px;
  }
}

.header__top img {
  margin-left: 1.5rem;
}

.header__top i {
  margin-left: 8px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  width: 100%;
  list-style: none;
  text-decoration: none;
  margin: 1%;
}

header li a:link, a:visited {
  color: white;
  list-style: none;
  text-decoration: none;
}

header ul li a:hover, a:active {
  color: #8188e9;
  text-decoration: underline;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #212529 !important;
}

.icons {
  color: #ffffff;
  text-decoration: none;
}

.icons a:link, a:hover, a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Titulos */
@media only screen and (max-width: 425px) and (min-width: 0px) {
  .hidden__movil {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .hidden__desktop {
    display: none;
  }
}

.h2 {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 32px;
  }
}

.h3 {
  color: #888A97;
  font-size: 40px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .h3 {
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .h3 {
    font-size: 28px;
  }
}

.h5 {
  color: #888A97;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 425px) {
  .h5 {
    font-size: 20px;
  }
}

.title {
  color: #888A97;
  font-size: 32px;
  font-weight: 500;
}

.title2 {
  color: #888A97;
  font-size: 48px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title2 {
    font-size: 36px;
  }
}

.plight {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 425px) {
  .plight {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }
}

.link__movil {
  padding-top: 10%;
  font-size: 14px;
  font-weight: 300;
  color: #8188e9;
  text-align: center;
}

@media only screen and (max-width: 425px) and (min-width: 0px) {
  .hidden__movil {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .hidden__desktop {
    display: none;
  }
}

.head {
  text-align: center;
  padding: 4% 8% 5% 0%;
}

.headimage {
  width: 100%;
  padding-left: 5%;
}

@media (max-width: 1200px) {
  .head {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 5%;
  }
}

/* Hero */
.hero {
  background-color: #1e2124;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  padding-left: 5%;
}

@media (max-width: 1200px) {
  .hero__title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10%;
    padding-left: 0%;
    padding-bottom: 0px;
    font-size: 40px;
    line-height: 56px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero__title {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media (max-width: 425px) {
  .hero__title {
    font-size: 32px;
    line-height: 46px;
    height: 100%;
  }
}

.hero__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  padding: 5% 0% 5% 0%;
}

@media (max-width: 1024px) {
  .hero__description {
    text-align: center;
    padding: 16px;
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .hero__description {
    font-size: 18px;
    line-height: 28px;
  }
}

.hero__buttons {
  display: flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .hero__buttons {
    padding-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .hero__buttons {
    padding-bottom: 0%;
  }
}

@media (max-width: 425px) {
  .hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12% 0% 10% 0%;
  width: 50%;
  height: 50%;
}

@media (max-width: 1200px) {
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 5%;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .hero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 5%;
    padding-bottom: 25%;
    width: 90%;
    padding-left: 2%;
  }
}

@media (max-width: 425px) {
  .hero__image {
    width: 100%;
    height: 100%;
    padding: 16px;
    padding-bottom: 5%;
  }
}

.hero__image div img {
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 425px) {
  .hero__page {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 0px) {
  #hero__desktop {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  #hero__responsive {
    display: none;
  }
}

/* Buttons */
.button, .button__primary, .button__secondary, .button__terciary {
  width: 240px;
  height: 60px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
          animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.button__primary {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  color: white;
  margin-bottom: 20px;
}

.button__primary > a {
  text-decoration: none;
}

.button__primary:hover {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button__primary:active {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button__secondary {
  background: #222627;
  background-size: 800% 400%;
  font-size: 16.5px;
  border-style: solid;
  border-color: -internal-light-dark(white, white);
  color: white;
  border-width: 2px;
}

.button__secondary > a {
  text-decoration: none;
  color: #fff;
}

.button__secondary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button__secondary:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.button__secondary:visited {
  color: white;
}

.button__terciary {
  background: #fff;
  background-size: 800% 400%;
  border-style: solid;
  border-color: -internal-light-dark(white, white);
  color: #222627;
  border-width: 2px;
}

.button__terciary > a {
  text-decoration: none;
  color: #222627;
}

.button__terciary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button__terciary:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.button__form {
  background-color: #8188e9;
  border-color: #8188e9;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* Experiencia index*/
.experiencia {
  position: relative;
  background: #f1f1f1;
}

.experiencia__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222627;
  font-size: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .experiencia__title {
    padding-top: 8%;
  }
}

.experiencia__card {
  padding: 5%;
}

@media (max-width: 1024px) {
  .experiencia__card {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .experiencia__card {
    padding-top: 6%;
    padding-bottom: 20%;
  }
}

@media (max-width: 425px) {
  .experiencia__card {
    padding-top: 10%;
    padding-bottom: 35%;
  }
}

.experiencia__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(312deg, #8188e9 36%, #8373fc 100%);
  padding: 4% 8% 4% 6%;
  border-radius: 8px;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .experiencia__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #8188e9;
    padding: 4% 8% 4% 6%;
    border-radius: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .experiencia__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #8188e9;
    padding: 4% 12% 4% 12%;
    border-radius: 8px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .experiencia__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #8188e9;
    padding: 8% 26% 8% 26%;
    border-radius: 8px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .experiencia__icons img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .experiencia__page-button {
    position: absolute;
    margin-top: 36%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -16%;
  }
}

@media (max-width: 425px) {
  .experiencia__page-button {
    position: absolute;
    margin-top: 128%;
    margin-left: -28%;
  }
}

/* Producto index*/
.producto {
  background: #202226;
}

@media (max-width: 425px) {
  .producto {
    padding-top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.producto__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 28px;
  line-height: 60px;
  padding-left: 5%;
  text-align: left;
}

@media (max-width: 768px) {
  .producto__title {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 16px;
  }
}

@media (max-width: 425px) {
  .producto__title {
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
  }
}

.producto__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 20px;
  padding-left: 0%;
}

@media (max-width: 425px) {
  .producto__button {
    padding-left: 5%;
  }
}

.producto__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  background-color: #212529;
  overflow: hidden;
}

.producto__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.producto__page-description {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 425px) {
  .producto__page-description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    padding-top: 0px;
  }
}

/* Grafico index*/
.grafico {
  background: #1f2023;
}

@media (max-width: 425px) {
  .grafico {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.grafico__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
  color: #ffffff;
  font-size: 28px;
  line-height: 60px;
}

.grafico__button {
  position: relative;
  margin-top: 20px;
  padding-left: 0%;
}

@media (max-width: 425px) {
  .grafico__button {
    padding-left: 5%;
  }
}

.grafico__card {
  background-color: #212529;
  overflow: hidden;
}

.grafico__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
}

/* Ecommerce index */
.ecommerce {
  background: #1f2023;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ecommerce__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
}

@media (max-width: 425px) {
  .ecommerce__title {
    padding-top: 10%;
    text-align: center;
    padding-left: 5%;
  }
}

.ecommerce__description {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

@media (max-width: 425px) {
  .ecommerce__description {
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 14px;
    text-align: center;
  }
}

.ecommerce__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .ecommerce__button {
    padding-left: 5%;
    padding-bottom: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ecommerce__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  .ecommerce__card {
    padding-top: 0%;
  }
}

.ecommerce img {
  padding-top: 2%;
  width: 100%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 768px) {
  .ecommerce img {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 425px) {
  .ecommerce img {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5%;
    padding-bottom: 10%;
  }
}

.container-fluid {
  overflow: hidden;
}

.img__movil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px 20px 40px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* Footer */
@media only screen and (max-width: 425px) and (min-width: 0px) {
  .hidden__movil {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .hidden__desktop {
    display: none;
  }
}

.footer {
  padding: 5%;
  height: 100%;
  background: #202226;
}

.footer__column1 {
  color: #fff;
  padding-left: 50px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .footer__column1 {
    width: 40;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 10%;
  }
}

@media (max-width: 768px) {
  .footer__column1 {
    list-style: none;
    padding-top: 10%;
    padding-bottom: 0%;
  }
}

.footer__column1__column1 i {
  margin-left: 8px;
}

.footer__column2 {
  padding-left: 5%;
  padding-right: 10%;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__column2 {
    padding-top: 10%;
    padding-right: 1%;
  }
}

.footer__column3 {
  list-style: none;
}

@media (max-width: 1024px) {
  .footer__column3 {
    padding-top: 10%;
    padding-left: 5%;
  }
}

@media (max-width: 768px) {
  .footer__column3 {
    list-style: none;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.footer__column3 li a {
  color: #fff;
  text-decoration: none;
}

.footer__column3 li a:focus {
  color: #8188e9;
}

/* Form */
.form {
  background-color: #1f2023;
  padding: 8%;
  border-radius: 10px;
}

.input {
  background-color: #ebebeb;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: #1f1f22;
  margin-top: 8px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
}

.input:hover {
  background-color: #fff;
  color: #8188e9;
}

.formtext {
  font-size: 14px;
  margin-top: 20px;
}

#usersex {
  display: inline;
  font-size: 16px;
  margin-right: 12px;
  margin-bottom: 10px;
}

.elige {
  display: inline;
  margin-right: 12px;
}

#servicio {
  width: 100%;
  margin-top: 14px;
  border-radius: 4px;
  height: 40px;
  color: #888A97;
  font-weight: 200;
  padding-right: 20px;
}

/* Experiencia page */
@media only screen and (max-width: 425px) and (min-width: 0px) {
  .hidden__movil {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .hidden__desktop {
    display: none;
  }
}

.experiencia__page-card {
  background: #1f2023;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #212529;
  padding: 0% 5% 5% 5%;
  color: #787878;
}

.experiencia__title-page {
  background: #1f2023;
  padding: 12% 0% 3% 5%;
  color: #787878;
}

.experiencia__bloque1 {
  position: relative;
  font-size: 14px;
  margin-bottom: 5%;
  padding: 10% 0% 10% 8%;
  border-radius: 8px;
  background-color: #ebebeb;
}

.experiencia__page-subtitle {
  color: coral;
  font-size: 24px;
  font-weight: 500;
  padding-top: 10%;
}

.hr {
  color: #666666;
  width: 80%;
}

#experiencia__button {
  position: relative;
  padding-top: 3%;
}

@media (max-width: 768px) {
  #experiencia__button {
    padding-top: 8%;
    padding-bottom: 7%;
  }
}

@media (max-width: 425px) {
  #experiencia__button {
    padding-top: 12%;
    padding-bottom: 12%;
  }
}

/* Producto page*/
.producto__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 300;
  background-color: #1f2023;
  padding: 12% 0% 3% 5%;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
}

@media (max-width: 1024px) {
  .producto__page {
    padding-top: 8%;
    padding-bottom: 6%;
  }
}

@media (max-width: 425px) {
  .producto__page {
    padding-top: 5%;
  }
}

.producto__page-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding-left: 5%;
}

@media (max-width: 768px) {
  .producto__page-title {
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 5%;
    text-align: left;
  }
}

@media (max-width: 425px) {
  .producto__page-title {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.producto__page-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 0px;
}

@media (max-width: 768px) {
  .producto__page-description {
    text-align: left;
  }
}

@media (max-width: 425px) {
  .producto__page-description {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}

.producto__page-button {
  position: relative;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.producto__proyect {
  color: #fff;
  background-color: #1f2023;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: 425px) {
  .producto__proyect {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}

.producto__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
}

.producto__proyect-desktop {
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0%;
  margin-top: -4%;
  width: 75%;
}

@media (max-width: 768px) {
  .producto__proyect-desktop {
    margin-left: 0%;
    width: 75%;
  }
}

@media (max-width: 425px) {
  .producto__proyect-desktop {
    padding-left: 0%;
    width: 100%;
  }
}

.producto__proyect-responsive {
  margin-top: -2%;
  vertical-align: top;
  width: 20%;
}

@media (max-width: 425px) {
  .producto__proyect-responsive {
    padding-left: 12%;
    width: 90%;
  }
}

/* Design page */
.grafico__page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding-left: 5%;
}

div#header__design {
  position: flex;
  grid-area: header;
  margin: 3%;
  padding-top: 8%;
}

/* Proyect page */
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: coral;
}

.nav-pills .nav-link.active, .nav .nav-pills .show > .nav-link {
  background-color: coral;
  color: #fff;
}

.nav-pills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #ecommerce {
    height: 550px;
  }
}

/* Ecommerce page */
.ecommerce__gallery {
  background-color: #1f2023;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 768px) {
  .ecommerce__gallery {
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
  }
}

.carousel {
  margin-left: -3%;
}

.photo-gallery {
  color: #313437;
  background-color: #1f2023;
  margin-left: -2.5%;
}

.photo-gallery .photos {
  padding-bottom: 0px;
}

.photo-gallery .item {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.page__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1f2023;
}

@media (max-width: 1024px) {
  .page__hero {
    padding-top: 8%;
    padding-bottom: 6%;
    padding-left: 0%;
  }
}

@media only screen and (max-width: 425px) and (min-width: 0px) {
  .hidden__movil {
    display: none;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 426px) {
  .hidden__desktop {
    display: none;
  }
}
