@import "./mediaqueries";
@import "./variables";
@mixin size($width,$height){
    width:$width;
    height: $height;
}
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head{
    text-align: center;
    padding:4% 8% 5% 0%;
    &image{
        width:100%;
        padding-left:5%;
    }
    @include breakpoint (desktop){ 
    text-align: center;
    padding-top:3%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left:5% ;     
    } 
}

/* Hero */
.hero{
    background-color:$negro-F; 
    &__title{
        @include flex-column-center;
        color:#fff;
        font-weight: 500;
        font-size: 60px;
        padding-left:5%;
        @include breakpoint (desktop){ 
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:10%;
        padding-left:0%;
        padding-bottom: 0px;
        font-size: 40px;
        line-height:56px; 
        width: 100%; 
        }
        @include breakpoint (tablet){  
           
            padding-top:10%;
            padding-bottom: 10%;
            }
        @include breakpoint (movil){  
        font-size: 32px;
        line-height: 46px;
        height: 100%;
        }
    }
    &__description{
        @include flex-column-center;
        display: flex;
        color:#fff;
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        padding: 5% 0% 5% 0%;
        @include breakpoint (md){ 
            text-align: center;
            padding: 16px;
            font-size: 20px;
        }
        @include breakpoint (movil){
            font-size: 18px;
            line-height: 28px;
        }
    }   
    &__buttons{
        display:flexbox;
        flex-direction: row;
        @include breakpoint (md){ 
           padding-bottom: 10%;
            }
            @include breakpoint (tablet){ 
                padding-bottom: 0%;
                 }
        @include breakpoint (movil){ 
        display: flex;
        flex-direction:column;
        padding: 20px;
        }
    }
    &__image{
        @include flex-column-center;
        padding: 12% 0% 10% 0% ;
        width: 50%;
        height:50%;
        @include breakpoint (desktop){ 
        display: flex;
        justify-content: flex-start;
        padding-top: 5%;
        width: 90%;     
        }  
        @include breakpoint (tablet){ 
        display: flex;
        justify-content: flex-start;
        padding-top: 5%;
        padding-bottom: 25%;
        width: 90%; 
        padding-left: 2%;    
        }  
        @include breakpoint (movil){ 
        width: 100%;
        height:100%;
        padding: 16px; 
        padding-bottom: 5%;
        }   
    }
    &__image div img {
        object-fit: contain; 
    }
} 
#hero__desktop{
    @media only screen and (max-width: 1024px) and (min-width: 0px){
        display:none;   
    }     
}
#hero__responsive{
    @media only screen and (max-width: 1440px) and (min-width: 1025px){
        display:none;   
    }     
}

/* Buttons */
.button{
    @include size(240px,60px);
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   
    &__primary {
        @extend .button;
        background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
        background-size: 800% 400%;
        color: white;
        margin-bottom: 20px;
    }
    &__primary>a{
        text-decoration: none;
    }
    &__primary:hover {
        animation: gradient 3s infinite;
        transform: scale(1.05);
    }
    &__primary:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
    }
    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
         background-position: 0% 50%;
    }
   }
    &__secondary {
        @extend .button;
        background: $negro-C;
        background-size: 800% 400%;
        font-size: 16.5px;
        border-style: solid;
        border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
        color: rgb(255, 255, 255);
        border-width: 2px;
    }
    &__secondary>a{
        text-decoration: none;
        color:#fff;
    }
    &__secondary:hover {
        transform: scale(1.05);
    }
    &__secondary:active {
        transform: scale(0.8);
    }
    &__secondary:visited {
        color: white;
    }
    &__terciary {
        @extend .button;
        background: #fff;
        background-size: 800% 400%;
        border-style: solid;
        border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
        color:$negro-C;
        border-width: 2px;
    }
    &__terciary>a{
        text-decoration: none;
        color:$negro-C;
    }
    &__terciary:hover {
        transform: scale(1.05);
    }
    &__terciary:active {
        transform: scale(0.8);
    }
    &__form{
        background-color:$morado-A;
        border-color:$morado-A;
        @include size(100%,40px);
        border-radius: 10px;
        border-style: solid;
        border-width: 0.5px;
        margin-top: 20px;
        color:#fff ;
        font-size: 14px;
        font-weight: 300; 
    }
}

/* Experiencia index*/
.experiencia{
    position: relative;
    background:$gris-A;
    &__title{
        @include flex-column-center;
        color: $negro-C;
        font-size: 28px;
        align-items: center;
        @include breakpoint (tablet){  
            padding-top:8%; ;
        }    
    }
    &__card{
        padding: 5%;
        @include breakpoint (md){ 
        padding-top: 10%;
        padding-bottom: 10%; 
        } 
        @include breakpoint (tablet){ 
            padding-top:6%;
        padding-bottom: 20%;
        }  
        @include breakpoint (movil){ 
        padding-top: 10%;
        padding-bottom: 35%;
        }     
    }
    &__icons{
        @include flex-row-center;
        background: linear-gradient(312deg, rgba(129,136,233,1) 36%, rgba(131,115,252,1) 100%);
        padding: 4% 8% 4% 6% ;
        border-radius: 8px;
        width: 90%;
        align-items: center;
        @include breakpoint (md){ 
        display:flex;
        flex-direction: row;
        background-color:$morado-A;
        padding: 4% 8% 4% 6% ;
        border-radius: 8px;
        align-items: center; 
        }
        @include breakpoint (tablet){ 
        @include flex-row-center;
        background-color:$morado-A;
        padding:4% 12% 4% 12% ;
        border-radius: 8px;
        width:100%;
        } 
        @include breakpoint (movil){
        display:flex;
        flex-direction:column;
        background-color:$morado-A;
        padding: 8% 26% 8% 26% ;
        border-radius: 8px;
        width: 100%;
        align-items: center;
        }          
    }  
    &__icons img{
        @include breakpoint (md){
        width: 100%;
        }      
        }  
    &__page-button{
        @include breakpoint (tablet){
        position: absolute;
        margin-top:36%;
        justify-content: center;
        margin-left: -16%;
       }
       @include breakpoint (movil){
        position: absolute;
        margin-top:128%;
        margin-left: -28%;
        }       
        }
}
/* Producto index*/
.producto{
    background:$negro-G;
    @include breakpoint (movil){
        padding-top: 10%;
        justify-content: center; 

        }       
    &__title{
        @include flex-column-center;
        color: #ffffff;
        font-size: 28px;
        line-height: 60px;
        padding-left: 5%;
        text-align: left;
    
        @include breakpoint (tablet){
            padding-top: 10%;
            padding-bottom: 10%; 
            padding-left: 5%;
            padding-right: 16px;
           
            }       
        @include breakpoint (movil){
        padding-top: 0%;
        padding-bottom: 15%;
        text-align: center;
     
        }       
    } 
    &__button{
        @include flex-column-center;
        position: relative;
        margin-top: 20px;
        padding-left:0% ;
        @include breakpoint (movil){
            padding-left:5% ;
            
            }       
       
    }
    &__card{
        @include flex-column-center;
        padding-top: 10px;
        background-color:$negro-E;
        overflow: hidden;
  }
    
    &__card img{
        object-fit: cover;
        width: 100%;
        overflow: hidden;

    }
    &__page-description{
        font-size: 16px;
        font-weight: 300;
        @include breakpoint (movil){ 
        font-size: 14px;
        line-height: 30px;
        font-weight: 300;
        padding-top: 0px;
        }
    }  
} 
/* Grafico index*/
.grafico{
    background:$negro-B;
    @include breakpoint (movil){
    justify-content: center;
    }
    &__title{
        @include flex-column-center;
        padding-left: 5%;
        color: #ffffff;
        font-size: 28px;
        line-height: 60px; 
    }
    &__button{
        position: relative;
        margin-top: 20px;
        padding-left:0% ;
        @include breakpoint (movil){
            padding-left:5% ;
         
            }   
       
    }
    &__card{
        background-color:$negro-E;
        overflow: hidden;
    }
    &__card img{
        object-fit: cover;
        width: 100%;
        overflow: hidden;
    }
    }

/* Ecommerce index */
.ecommerce{
    background:$negro-B;
    justify-content: center;
    
&__title{
    @include flex-column-center;
    justify-content: center;
    text-align: center;
    padding-top:5%;
    padding-bottom: 1%; 
    @include breakpoint (movil){
          padding-top: 10%;
          text-align: center;
          padding-left: 5%;
        }
}
&__description{
font-size: 16px;
font-weight: 300;
color:#fff ;
text-align: center;
@include breakpoint (movil){
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 14px;

  }
}

&__button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    @include breakpoint (movil){
        padding-left: 5%;
        padding-bottom: 10%;
       justify-content: center;
      }
    
}
&__card{
    display: flex;
  justify-content: center;
  @include breakpoint (movil){
    padding-top: 0%;
  }
   
   
}
& img{
 padding-top: 2%;
 width:  100%;
 padding-bottom: 2%;
 padding-left: 15%;
   padding-right: 15%;
@include breakpoint (tablet){
 padding-left: 8%;
   padding-right: 8%;
 }
 @include breakpoint (movil){
    padding-left: 16px;
      padding-right:16px;
      padding-top: 5%;
      padding-bottom: 10%;
    }
}
}
.container-fluid {
    overflow: hidden;
    }

    .hidden__movil{
   
        @media only screen and (max-width: 425px) and (min-width: 0px){
            display:none;   
        }     
    }
    .hidden__desktop{
        @media only screen and (max-width: 1440px) and (min-width:426px){
            display:none;   
        }         
    }

    .img__movil{ 
        @include flex-column-center; 
        padding:20px 40px 20px 40px; 
        object-fit: cover; 
        width: 100%; 
    }
