
@import "./variables";
$breakpoints: (
    "movil":425px,
    "tablet":768px,
    "md":1024px,
    "desktop":1280px
);
@mixin breakpoint($name) {
    @if not map-has-key($breakpoints, $name) {
      @warn "Invalid breakpoint `#{$name}`.";
    }
    @else {
      @media (max-width: map-get($breakpoints, $name)) {
        @content;
      }
    }
  }
  .hidden__movil{
   
    @media only screen and (max-width: 425px) and (min-width: 0px){
        display:none;   
    }     
}
.hidden__desktop{
    @media only screen and (max-width: 1441px) and (min-width:426px){
        display:none;   
    }         
}

  



 
