/* Experiencia page */
@import "./mediaqueries";
@import "./variables";

@mixin flexcolumn-center{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.experiencia{
    &__page-card{
    background:$negro-B;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color:#212529 ;
    padding: 0% 5% 5% 5%;
    color: $gris-D;
    }
    &__title-page{
        background:$negro-B;
        padding: 12% 0% 3% 5%;
        color: $gris-D;
    }
    &__bloque1{
        position: relative;
        font-size: 14px;
        margin-bottom: 5%;
        padding: 10% 0% 10% 8% ;
        border-radius: 8px;
        background-color: $gris-B;
    }
    &__page-subtitle { 
        color:coral;
        font-size: 24px;
        font-weight: 500;
        padding-top: 10%;
    }
}

.hr{
    color: rgb(102, 102, 102);
    width: 80%;
}
#experiencia__button{
    position: relative;  
    padding-top: 3%;
    @include breakpoint (tablet){
    padding-top:8%;
    padding-bottom:7%;
    }
    @include breakpoint (movil){
    padding-top:12%;
    padding-bottom:12%;
    }  
}   
/* Producto page*/
.producto{
    &__page{
        display: flex;
        background-color: $negro-B;
        padding:12% 0% 3% 5%;
        border-bottom-style: solid;
        border-bottom-width: 1.5px;
        @include breakpoint (md){
        padding-top:8%;
        padding-bottom:6%;
        }  
    }
    &__page-title{
        @include flexcolumn-center;
        color: #fff; 
        padding-left: 5%; 
        @include breakpoint (tablet){
        padding-top: 12%;
        padding-bottom:12% ;
        padding-left: 5%; 
    text-align:left;
        
        } 
        @include breakpoint (movil){
            text-align: center;
        padding-top: 1%;
        padding-bottom:18% ;
        
        padding-left: 16px;
            padding-right: 16px;
      
         
        }   
    }
    &__page-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-top: 0px;
        width: 100%;
        @include breakpoint (tablet){
       text-align: left ;
     
            } 
            @include breakpoint (movil){
            padding-left: 8px;
            padding-right: 8px;
            text-align: center ;
             
            }   
    }
    &__page-button{
        position: relative;
        margin-top: 50px;
        justify-content: center;
    }
    &__proyect{
        color: #fff;
        background-color: $negro-B;
       
    }
    &__img{ 
        display:inline-flex;
       vertical-align:top;
       
     }
    &__proyect-desktop{
        vertical-align:top;
      justify-content: center;
     padding-left: 0%;
     margin-top: -4%;
    
      width: 75%;
      @include breakpoint (tablet){
      margin-left: 0%;
       width: 75%;
        }
        @include breakpoint (movil){
            padding-left: 0%;
            width: 100%;
        }  
    }
        &__proyect-responsive{
            margin-top: -2%;
            vertical-align:top;
            width: 20%;
            @include breakpoint (movil){
                padding-left: 12%;
                width: 90%;
       
    }
}
}


/* Design page */
.grafico__page-title{
    @include flex-column-center;
    color: #fff; 
    padding-left: 5%;
}


div#header__design {
    position: flex;
    grid-area: header;
    margin: 3%;
    padding-top: 8%;
 }
 /* Proyect page */
.nav{
    &-link{
         color: #fff;
    }
    &-link:hover{
       color:coral;
    }
    &-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color:coral;
        color: #fff;     
    }
    &-pills{
        justify-content: center;
        padding-top: 4%;
        color: #fff;  
}
}
@media screen and (max-width: 768px) {
    #ecommerce{
        height: 550px;
    } 
    }
 /* Ecommerce page */
 .ecommerce__gallery {
    background-color: $negro-B;
    padding-left: 15%;
    padding-right: 15%;
    @include breakpoint (tablet){
        margin-left: 0%;
        padding-left: 0%;
        padding-right: 0%;
         width: 100%;

        }
          }
        
        

.carousel{
    margin-left: -3%;

}

.photo-gallery {
    color:#313437;
    background-color:$negro-B;
margin-left: -2.5%;
  }
  
  .photo-gallery .photos {
    padding-bottom:0px;
  }
  
  .photo-gallery .item {
    padding-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .page__hero {

    display: flex;
    background-color: $negro-B;

    @include breakpoint (md){
    padding-top:8%;
    padding-bottom:6%;
    padding-left: 0%;
    }  
} 
 