/* Experiencia page */
@import "./mediaqueries";
@import "./variables";

@mixin flexcolumn-center{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.experiencia{
    &__page-card{
    background:$negro-B;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-color:#212529 ;
    padding: 0% 5% 5% 5%;
    color: $gris-D;
    }
    &__title-page{
        background:$negro-B;
        padding: 12% 0% 3% 5%;
        color: $gris-D;
    }
    &__bloque1{
        position: relative;
        font-size: 14px;
        margin-bottom: 5%;
        padding: 10% 0% 10% 8% ;
        border-radius: 8px;
        background-color: $gris-B;
    }
    &__page-subtitle { 
        color:coral;
        font-size: 24px;
        font-weight: 500;
        padding-top: 10%;
    }
}

.hr{
    color: rgb(102, 102, 102);
    width: 80%;
}
#experiencia__button{
    position: relative;  
    padding-top: 3%;
    @include breakpoint (tablet){
    padding-top:8%;
    padding-bottom:7%;
    }
    @include breakpoint (movil){
    padding-top:12%;
    padding-bottom:12%;
    }  
}   
/* Producto page*/
.producto{
    &__page{
        display: flex;
        background-color: $negro-B;
        padding:12% 0% 3% 5%;
        border-bottom-style: solid;
        border-bottom-width: 1.5px;
        @include breakpoint (md){
        padding-top:8%;
        padding-bottom:6%;
        }  
    }
    &__page-title{
        @include flexcolumn-center;
        color: #fff; 
        padding-left: 5%; 
        @include breakpoint (tablet){
        padding-top: 12%;
        padding-bottom:12% ;
        padding-left: 5%; 
        } 
        @include breakpoint (movil){
        padding-top: 1%;
        padding-bottom:18% ;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;  
         
        }   
    }
    &__page-description{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 0px;
        width: 80%;
    }
    &__page-button{
        position: relative;
        margin-top: 50px;
    }
}

/* Design page */
.grafico__page-title{
    @include flex-column-center;
    color: #fff; 
    padding-left: 5%;
}
#grilla__design{
    display: grid;
    position:relative;
    background: $negro-B;
    grid-template-rows:400px,100%, 100%, 100%;
    grid-template-columns:100%, 100%,100%,100%; 
    grid-template-areas: "header header header header"
                         "proyecto1 proyecto2 proyecto3 proyecto4"
                         "proyecto5 proyecto6 proyecto7 proyecto8"
                         "proyecto9 proyecto10 proyecto11 proyecto12";
                         @include breakpoint (movil){
                            grid-template-rows: repeat (auto-fill, 1fr);
                            grid-template-columns:100%; 
                            grid-template-areas: "header" 
                            "proyecto1" "proyecto2" "proyecto3" "proyecto4"
                            "proyecto5" "proyecto6" "proyecto7" "proyecto8"
                            "proyecto9" "proyecto10" "proyecto11" "proyecto12";       
                        }   
   
                        @media screen and (max-width: 768px) and (min-width: 426px) {
        grid-template-rows: repeat (auto-fill, 1fr);
            grid-template-columns:repeat(2, 1fr); 
            grid-template-areas: "header header" 
            "proyecto1 proyecto2" "proyecto3 proyecto4"
            "proyecto5 proyecto6" "proyecto7 proyecto8"
            "proyecto9 proyecto10" "proyecto11 proyecto12";
        } 
        
}
#grilla__design > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

div#header__design {
    position: flex;
    grid-area: header;
    margin: 3%;
    padding-top: 8%;
 }
 /* Proyect page */
.nav{
    &-link{
         color: $negro-B;
    }
    &-link:hover{
       color:coral;
    }
    &-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color:coral;
        color: #fff;     
    }
    &-pills{
        justify-content: center;
        padding-top: 4%;
    }
}

@media screen and (max-width: 768px) {
    #ecommerce{
        height: 550px;
    } 
    }