/* Titulos */
@import "./variables";
@import "./mediaqueries";
@mixin titlesize($color,$size,$weight){
    color:$color;
    font-size: $size;
    font-weight:$weight;
}

.h2{
    @include titlesize($gris-A,40px,500);
    @include breakpoint (tablet){ 
        font-size: 32px;
    }
}
.h3{
    @include titlesize($gris-C,40px,500);
    @include breakpoint (tablet){
        font-size: 32px;
    }
    @include breakpoint (movil){
        font-size: 28px;
    }
}
.h5{
    @include titlesize($gris-C,20px,400);
    @include breakpoint (movil){
        font-size: 20px;
    }
}
.title{
    @include titlesize($gris-C,32px,500);
}
.title2{
    @include titlesize($gris-C,48px,500);
    @include breakpoint (tablet){
        font-size: 36px;
    }
}
.plight{
    @include titlesize(#fff,16px,300);
    @include breakpoint (movil){
        @include titlesize(#fff,16px,300);
}
}
.link__movil {
padding-top: 10%;
    font-size: 14px;
    font-weight: 300;
    color: $morado-A;
    text-align: center;
}
