$negro-A:#0a0a0a;
$negro-B:#1f2023;
$negro-C:#222627;
$negro-D:#1f1f22;
$negro-E:#212529;
$negro-F:#1e2124;
$negro-G:#202226;
$gris-A:#f1f1f1;
$gris-B:#ebebeb;
$gris-C:#888A97;
$gris-D:#787878;
$morado-A:#8188e9;
