@import"./partials/variables";
.header{
&__port{
    position: fixed;
    align-items:center;
    width: 100%;
    z-index: 2;
}
&__top{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center;
    padding:0.6%;
    background-color:$negro-A;
    color:white;
    font-size: 14px;
    font-weight: 400;
}
&__top img{
    margin-left: 1.5rem;
}
}
header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    width: 100%;
    list-style: none;
    text-decoration: none;
    margin: 1%; 
}
header li a:link, a:visited{
    color: #fff;
    list-style: none;
    text-decoration: none;
}
header ul li a:hover, a:active{
	color: $morado-A;
    text-decoration:underline;
}

